fastapi
uvicorn
pydantic
motor
pymongo
python-dotenv
passlib
bcrypt
pyjwt
langchain-groq
langchain-huggingface
langchain-chroma
langchain-community
langchain-text-splitters
langchain
langchain-classic
langchain-mongodb
langchain-core
sentence-transformers
requests
num2words
python-multipart
